
@{
    ViewData["Title"] = "Error";
}

<style>
    .text-danger {
        color: red;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 20px;
    }
</style>
<div>
    <h2 class="text-danger">Error.</h2>
    <h3 class="text-danger">An error occurred while processing your request.</h3>
</div>