
@model IEnumerable<Errand>
@{
    ViewData["Title"] = "Notification";
}

@inject IUsersRepository _usersRepository

<div class="main__table">
    @foreach (var errand in Model)
    {
        <div class="card">

            <h2 class="card__label">
                Errand  <a asp-controller="Errand" asp-action="GetErrand" asp-route-errandId="@errand.Id">  @errand.Title  </a>  took user: 
                <a asp-controller="User" asp-action="Profile" asp-route-identity="@errand.HelperUserId">
                    @await _usersRepository.GetUserInfoAsync(errand.HelperUserId).ContinueWith(w => w.Result.UserName)
                </a>
            </h2>
            <div class="card__user-info">
                <h3>
                    <form asp-action="Chat" asp-controller="Message" method="post">
                        <input type="hidden" name="receiverUserId" value="@errand.HelperUserId" />
                        <button type="submit">Send Message</button>
                    </form>
                </h3>
            </div>
        </div>
    }
</div>