@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="main__sidebar sidebar">
    <div class="sidebar__sign-in sign-in">
        <form class="sign-in__form form-horizontal" asp-action="Register" method="post">
            <h2 class="sign-in__title">Sign in</h2>
            <span class="sign-in__dash"></span>
            <div class="input-validation-error" asp-validation-summary="ModelOnly"></div>

            <label asp-for="UserName" class="sign-in__label">Nickname</label>
            <span asp-validation-for="UserName"></span>
            <input asp-for="UserName" class="sign-in__input">

            <label asp-for="Email" class="sign-in__label">Email</label>
            <span asp-validation-for="Email"></span>
            <input asp-for="Email" class="sign-in__input">

            <label asp-for="Password" class="sign-in__label">Password</label>
            <span asp-validation-for="Password"></span>
            <input asp-for="Password" class="sign-in__input">

            <label asp-for="ConfirmPassword" class="sign-in__label">Password</label>
            <span asp-validation-for="ConfirmPassword"></span>
            <input asp-for="ConfirmPassword" class="sign-in__input">

            <button type="submit" class="sign-in__button btn-submit">Submit</button>
            <a class="sign-in__link-signin" asp-action="Login">Log in</a>
        </form>
    </div>
</div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js">
</script>