@model Errands.Mvc.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "ResetPasswor";
}
<div class="main__sidebar sidebar">
    <div class="sidebar__sign-in sign-in">
        <form class="sign-in__form form-horizontal" asp-action="ResetPassword" method="post">
            <h2 class="sign-in__title">Reset password</h2>
            <span class="sign-in__dash"></span>
            <div class="input-validation-error" asp-validation-summary="ModelOnly"></div>
            
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Email" />

            <label asp-for="NewPassword" class="sign-in__label">NewPassword</label>
            <span asp-validation-for="NewPassword"></span>
            <input asp-for="NewPassword" class="sign-in__input">

            <label asp-for="OldPassword" class="sign-in__label">OldPassword</label>
            <span asp-validation-for="OldPassword"></span>
            <input asp-for="OldPassword" class="sign-in__input">

            <button type="submit" class="sign-in__button btn-submit">Submit</button>
            <a class="sign-in__link-signin" asp-action="Profile" asp-controller="User">Cancel</a>
        </form>
    </div>
</div>